@font-face {
    font-family: GothamBook;
    src: url(../fonts/Gotham-Font/GothamBook.ttf);
}

@font-face {
    font-family: GothamMedium;
    src: url(../fonts/Gotham-Font/GothamMedium.ttf);
}

@font-face {
    font-family: GothamLight;
    src: url(../fonts/Gotham-Font/GothamLight.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 60px 350px 40px 1fr;
  max-width: 100vw;
  min-height: 100vh;
}

#sliding-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #f6f6f6;
  z-index: 1000;

}

#toned-out-background {
  display: none;
  position: fixed;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background: #fff;
  opacity: 0;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: .2s opacity;
}

.search-stock {
  position: fixed;
  z-index: 101;
  width: 80%;
  max-width: 400px;
  margin-left: -200px;
  left: 50%;
  top: -150px;
}

.start-agent {
  position: fixed;
  z-index: 101;
  width: 80%;
  max-width: 400px;
  margin-left: -200px;
  left: 50%;
  top: -500px;
}

.added-quote #header {
  font-family: GothamBook;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
  width: 100%;
}

.added-quote #description {
  font-size: 12px;
  font-family: GothamLight;
  text-align: center;
  width: 100%;
  margin-top: 2px;
}

.form-action-buttons {
  align-self: center;
  margin-top: 20px;
}

.form-action-buttons button {
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-family: GothamBook;
  cursor: pointer;
  transition: .2s color;
  transition: .2s background;
}

.form-action-buttons #next-section {
  background-color: #fff;
  border: solid 1px #000;
  color: #000;
  text-transform: uppercase;
  margin-top: 30px;
}

.form-action-buttons #next-section:hover {
  background-color: #000;
  border: solid 1px #000;
  color: #fff;
  text-transform: uppercase;
}

.added-quote {
  background: #fff;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 3px 6px #C6C6C6;
  margin-bottom: 30px;
  padding: 10px 0;
}

.config-agent {
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 6px #C6C6C6;
  border-radius: 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.add-stock {
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 6px #C6C6C6;
  border-radius: 100px;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
}

.input-block {
  width: 80%;
  margin: 0 10%;
}

.input-block #header {
  font-family: GothamBook;
  font-size: 10px;
  text-transform: uppercase;
}

.input-block #description {
  font-family: GothamBook;
  font-size: 10px;
}

.similar-quotes {
  background: #fff;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 3px 6px #C6C6C6;
  margin-top: 30px;
}

.similar-quotes .quote {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 20px
}

.similar-quotes .quote #symbol {
  margin-left: 20px;
  font-family: GothamBook;
  font-size: 14px;
}

.similar-quotes .quote #name {
  margin-right: 20px;
  font-family: GothamLight;
  font-size: 12px;
  align-self: center;
}

.add-stock input,
.config-agent input {
  flex: 1;
  height: 99%;
  border: none;
  background: #fff;
  align-self: baseline;
  border-radius: 100px;
  padding: 0 20px;
}

.add-stock button,
.config-agent button {
  background: #fff;
  border: none;
  border-left: solid 1px #C6C6C6;
  margin-right: 10px;
}

.add-stock button .feather,
.config-agent button .feather {
  border-width: 1px;
  height: 20px;
  width: 20px
}

.information {
  width: 100vw;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #C6C6C6;
  border-top: solid 1px #C6C6C6;
}

.pos {
  color: #00C585;
}

.neg {
  color: #C50000;
}

.shadow-button {
  background: #fff;
  box-shadow: 0 3px 6px #C6C6C6;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 12px;
  margin-top: 20px;
  color: #000;
  font-family: GothamBook;
  cursor: pointer;
  transition: .2s transform;
}

.shadow-button:hover {
  transform: scale(1.05);
}

/*
#############################################
  [START]   Section Name: navigation Bar
#############################################
*/

.navigation {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mobile-menu {
  display: none;
}

.navigation #name,
.navigation .nav-link {
  font-size: 14px;
  font-family: GothamBook;
}

#logo {
  font-family: GothamMedium;
  align-self: center;
}

.navigation .nav-link {
  color: #C6C6C6;
  text-decoration: none;
}

.navigation .nav-link.active {
  color: #000;
}

.user-info {
  display: flex;
  min-width: 200px;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
}

.navigation #name {
  margin: 0;
}

.navigation #email {
  font-size: 12px;
  margin: 0;
  color: #C6C6C6;
  font-family: GothamBook;
}

.navigation .left {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.navigation .right {
  min-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
}

.navigation  .nav-block {
  align-self: center;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

.navigation  .nav-block button {
  background: #fff;
  border: none;
  cursor: pointer;
}


/*
#############################################
  [START]   Section Name: Stock Quote Information
#############################################
*/

.watchlist {
  max-height: 280px;
  overflow: auto;
}

.stock-quotes,
.stock-nn-trader {
  flex: 3;
}

/*
---------------------------------------------
  [START]   Sub-Section Name: Stock Quotes
---------------------------------------------
*/

.header,
.quote {
  display: inline-grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
}

.quote-block {
  max-width: 120px;
  font-family: GothamBook;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  cursor: pointer;
  transition: .2s background;
  background: #fff;
  border: none;
  color: #000;
}

.quote:hover {
  background: #f4f4f4;
}

.stock-quotes {
  text-align: center;
  font-size: 14px;
}

.stock-quotes .header {
  border-bottom: solid 1px #C6C6C6;
}

.information .header {
    padding: 15px 0;
}

.information .header button {
  background: #fff;
  transition: .2s box-shadow;
  max-width: 120px;
  font-size: 12px;
  padding: 8px 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: GothamBook;
  color: #000;
}

.information .header button:hover {
  box-shadow: 0 3px 6px #C6C6C6;
}

.information .button-wrapper {
  margin-top: 40px;
}

.information .button-wrapper #description {
  font-size: 12px;
  font-family: GothamLight;
  text-align: center;
  margin-bottom: 20px;
}

/*
---------------------------------------------
  [START]   Sub-Section Name: Stock Company Information
---------------------------------------------
*/

#consenus-header {
  font-size: 12px;
  font-family: GothamBook;
  margin-top: 20px;
}

.stock-company-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: solid 1px #C6C6C6;
}

.stock-company-info > #header {
  font-family: GothamBook;
  font-size: 10px;
  text-transform: uppercase;
}

.stock-company-info #company-name {
  font-family: GothamMedium;
  font-size: 18px;
}

.stock-company-info > * {
  margin: 10px 15px;
}

.stock-company-info .stat #header {
  font-size: 12px;
  font-family: GothamBook;
  color: #B5B5B5;
  margin-top: 20px;
}

.stock-company-info .company-stats {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  text-align: center;
  margin-top: 0;
}

.company-stats .stat-info {
  margin-top: 5px;
  font-size: 12px;
  font-family: GothamBook;
}

.stock-company-info #company-description {
  font-size: 11px;
  font-family: GothamBook;
  line-height: 1.5;
}

.stock-company-info .rating-wrapper {
  margin-top: 25px;
  align-self: center;
}


/*
---------------------------------------------
  [START]   Sub-Section Name: Stock Company Graph
---------------------------------------------
*/

.stock-company-graph {
  flex: 2;
  position: relative;
  border-left: solid 1px #C6C6C6;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.loading {
  position: relative;
  top: -100%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 3px 6px #C6C6C6;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 100%;
}

#loader {
  align-self: center;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 10px;
}

.no-graph {
  align-self: center;
}

.no-graph #header {
  font-family: GothamBook;
  font-size: 14px;
}

.no-graph #description {
  font-size: 12px;
  font-family: GothamLight;
}

#stock-live-graph {
  width: 100%;
  height: 100%;
  display: none;
}


#stock-live-graph * {
  font-family: GothamBook;
}

/*
#############################################
  [START]   Section Name: Stock NN Trader
#############################################
*/

.graph-options {
  display: flex;
  width: 100vw;
  border-bottom: solid 1px #C6C6C6;
}

.graph-options .left {
  align-self: center;
  margin-left: 20px;
}

.graph-actions > * {
  margin-right: 30px;
}

.graph-actions > p {
  font-size: 12px;
  font-family: GothamLight;
}

.graph-actions {
  margin-left: 250px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.graph-actions button {
  background: #fff;
  border: none;
  border-radius: 100px;
  height: 100%;
  font-size: 12px;
  color: #000;
  font-family: GothamBook;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: .2s color;
}

.graph-actions button:hover {
  color: #B5B5B5;
}

.graph-actions button .feather {
  height: 15px;
  width: 15px;
  margin-left: 10px;
  font-size: 1px;
}

.graph-options #header {
  font-family: GothamBook;
  font-size: 14px;
}

.stock-nn-trader {
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: GothamBook;
  position: relative;
}

.stock-nn-trader .trading-stats {
  width: 350px;
  border-right: solid 1px #C6C6C6;
  height: 100%;
  margin-top: 0;
}

.stock-nn-trader .performance-graph {
  flex: 1;
  max-height: 100%;
  position: relative;
}

.trading-stats .trader-header {
  padding: 0 30px;
  font-size: 16px;
  color: #000;
  margin-top: 0;
}

.trading-stats .trader-ticker {
  margin-left: 20px;
  font-family: GothamMedium;
  font-size: 18px;
}

.flex-wrapper {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.no-trader {
  margin-top: 100px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.no-trader #header {
  font-family: GothamBook !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  max-width: 300px;
}

.no-trader #description {
  font-size: 12px !important;
  font-family: GothamLight !important;
  max-width: 300px;
  align-self: center;
}

.trading-performance {
  position: relative;
  margin: 10px 0;
}

.trading-performance .block {
  display: flex;
  justify-content: space-between;
  min-width: 180px;
  font-size: 13px;
}

.trading-performance .block * {
  margin: 8px 0;
}

.button-wrapper {
  text-align: center;
}


.trading-stats #header {
  font-family: GothamBook;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 20px;
}

.full-width-seperation {
  height: 1px;
  width: 100%;
  background: #C6C6C6;
  margin: 10px 0;
}

.nn-performance {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.performance-header {
  font-size: 14px;
  font-family: GothamMedium;
  margin-bottom: 0;
}

.nn-performance #description {
  font-size: 12px;
  font-family: GothamLight;
  margin: 10px 20px 0 20px;
  text-align: center;
  margin-bottom: 20px;
}

.rating-wrapper {
  width: 150px;
  display: flex;
  justify-content: space-around;
}

.rating-wrapper > #circle {
  border: solid .5px #707070;
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

.rating-wrapper .filled {
  background: #000;
}


/*
---------------------------------------------
  [START]   Sub-Section Name: Neural Network Performance Graph
---------------------------------------------
*/

.performance-graph {
  position: relative;
  overflow: hidden;
}

#stock-agent-graph {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.no-trader-started {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.performance-graph #header {
  font-family: GothamMedium;
  font-size: 18px;
}

.performance-graph #description {
  font-size: 12px;
  font-family: GothamLight;
  max-width: 250px;
  line-height: 1.5;
  margin-top: 5px;
}

.performance-graph #description > span {
  font-weight: bold;
}

.trader-working,
.loading-results {
  position: absolute;
  flex-direction: column;
  text-align: center;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;
}

.trader-working .loading,
.loading-results .loading {
  position: relative;
  top: 0 !important;
  max-width: 45px;
  align-self: center;
  transform: translate(0, 0);
  margin-bottom: 20px;
}



/*

  WEBSITE BREAKING POINTS

*/

@media(max-width: 1320px) {
  .stock-company-graph {
    flex: 1;
  }
}

@media(max-width: 1065px) {
  .stock-company-graph {
    flex: 0;
  }
}

@media(max-width: 850px) {
  .information {
    flex-direction: column-reverse;
  }

  .stock-company-info {
    border-bottom: solid 1px #C6C6C6;
    padding-bottom: 30px;
  }

  .stock-company-info #company-description {
    max-width: 400px;
    text-align: center;
    align-self: center;
  }

  .stock-company-info .company-stats {
    max-width: 400px;
    align-self: center;
    text-align: center;
  }

  body {
    grid-template-rows: 60px 1500px 40px 1fr;
  }

  .stock-nn-trader {
    flex-direction: column-reverse;
  }

  .stock-nn-trader .trading-stats {
    width: 100%;
    border-right: none;
  }

  .stock-nn-trader .performance-graph {
    min-height: 500px;
  }

  .stock-live-graph {
    height: 1000px;
  }

  .stock-nn-trader .trading-stats {
    border-top: solid 1px #C6C6C6;
    padding-bottom: 30px;
  }


  /* Navigation settings */
  .nav-block {
    position: fixed;
    height: 100vh;
    min-width: 400px;
    background: #fff;
    left: -400px;
    top: 0;
  }

  #mobile-menu {
    display: block;
    background: #fff;
    border: none;
    cursor: pointer;
  }

  .navigation .user-info {
    display: none;
  }

  .navigation .right {
    min-width: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

}


@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
